@model AWE_Projekt.Models.Order

@{
    ViewData["Title"] = "Neuen Auftrag anlegen";
}

<h3>Auftragsverwaltung</h3>
<h4>@ViewData["Title"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input readonly hidden name="constructionId" value="@ViewData["ConstructionSiteId"]" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (((List<AWE_Projekt.Models.Resource>)ViewData["Resources"]).Count == 0)
            {
                <label>Es sind keine freien Ressourcen verfügbar</label>
            }
            else
            {
                <div class="form-group">
                    <label>Wähle eine Resource aus</label>
                    <select name="resourceId">
                        @{
                            foreach (var item in (List<AWE_Projekt.Models.Resource>)ViewData["Resources"])
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }

                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Anlegen" class="btn btn-default" />
                </div>
            }


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
