@model betriebsmittelverwaltung.Areas.Identity.Data.User

@{
    ViewData["Title"] = "Neuen Nutzer anlegen";
}

<h3>Nutzerverwaltung</h3>
<h4>@ViewData["Title"]</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label name="forename" class="control-label">Vorname</label>
                <input name="forename" class="form-control" />
                <span asp-validation-for="ForeName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label name="lastname" class="control-label">Nachname</label>
                <input name="lastname" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">E-Mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label  name="password" class="control-label">Passwort</label>
                <input name="password" type="password" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Rolle</label>
                <select name="role">
                    @foreach (betriebsmittelverwaltung.Areas.Identity.Data.User.UserType ut in Enum.GetValues(typeof(betriebsmittelverwaltung.Areas.Identity.Data.User.UserType)))
                    {
                        <option value="@ut.ToString()">@ut.ToString()</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Anlegen" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}